html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --padding: 20px;  /* padding pro popisek zákusku */
  --desert-spacing: 30px;  /* rozestup mezi zákusky */
  --radius: 12px; /* zakulacení rohů kartičky */

  --page-bg-color: #f9f9f7;

  --description-color: #888880; /* popis zákusku */

  /* barvy stínů pro jednotlivé zákusky */
  --strawberry-shadow-color: #e4b0a5a0;
  --cupcake-shadow-color: #947293a0;
  --matcha-shadow-color: #8dae7fa0;
  --tiramisu-shadow-color: #bc906da0;
}

body {
  padding: var(--padding);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  background: var(--page-bg);
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.header__title {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-size: 4rem;
  text-align: center;
  margin-block: 0;
}

.header__text {
  font-size: 18px;
  color: var(--description-color);
  margin-block: 0;
}

.content{
    margin: auto;
}

.karta{
    display: block;
    margin: auto;
    border-radius: var(--radius);
    margin-bottom: 30px;
}
.text h2{
    font-size: 24px;
    line-height: 1.25;
}

.text p{
    font-size: 15px;
}

.karta img{
    display: block;
    border-radius: var(--radius) var(--radius) 0 0;
    width: 100%;
}

.karta:nth-child(1){
    box-shadow: 0 0 20px var(--strawberry-shadow-color);
}
.karta:nth-child(2){
    box-shadow: 0 0 20px var(--cupcake-shadow-color);
}
.karta:nth-child(3){
    box-shadow: 0 0 20px var(--matcha-shadow-color);
}
.karta:nth-child(4){
        box-shadow: 0 0 20px var(--tiramisu-shadow-color);
        margin-bottom: 0;
}

.text{
    padding: 0 20px 5px 20px;
}

.karta p{
    color: var(--description-color)
}
    /* ----- tady styluju "tablet" ------ */
@media(min-width: 660px){
    .content{
        max-width: 700px;
    }
    .karta{
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
    }
    .karta img{
        border-radius: 10px 0 0 10px;
        flex-shrink: 0;
        flex-basis: 30%;
    }
}

    /* ----- tady styluju "pocitac" ----- */
@media(min-width: 1100px){
    .content{
        max-width: 100%;
    }
    .karta{
        display: block;
        margin: 0;
        flex-shrink: 1;
        flex-grow: 1;
    }
    .content{
        display: flex;
        gap: 20px;
    }
    .karta img{
        border-radius: 10px 10px 0 0;
    }
}